<div class="project-card">
  <div class="card-header">
    <span class="project-title">{{ article.title }}</span>
    <div class="project-tags">
      @for (category of article.categories; track category) {
      <span class="tech-tag">{{ category }}</span>
      }
    </div>
  </div>

  <div class="card-content">
    <p>
      {{ article.summary }}
    </p>
  </div>

  @if (article.image) {
  <div class="card-image-container">
    <img [src]="article.image" [alt]="article.title + ' Image'" />
  </div>
  }

  <div class="card-actions">
    <a class="footer-button" href="#">
      <fa-icon [icon]="['fas', 'newspaper']"></fa-icon>
      <span>{{ article.viewArticle }}</span>
    </a>
  </div>
</div>
