.article-container {
  width: 100%;
  max-width: 650px;
  box-sizing: border-box;
  padding-top: 1rem;
  @media (min-width: 768px) {
    padding: 2rem;
  }
}

h1 {
    margin-bottom: 24px;
}

.articles-grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}