<div class="home-container">
  <app-header></app-header>

  <p class="bio">{{ homeData.bio }}</p>

  <mat-list class="links-list">
    <mat-list-item>
      <a
        matListItemLine
        href="https://www.linkedin.com/in/gustavo-barez/"
        target="_blank"
      >
        <fa-icon matListItemIcon [icon]="['fab', 'linkedin']"></fa-icon>
        <span class="link-text">LinkedIn</span>
        <span class="hover-text">{{ homeData.linkedinDetails }}</span>
      </a>
      <span matListItemMeta class="arrow-icon-container">
        <mat-icon class="default-icon">arrow_outward</mat-icon>
        <mat-icon class="hover-icon">arrow_forward</mat-icon>
      </span>
    </mat-list-item>

    <mat-list-item>
      <a matListItemLine href="https://github.com/gustavobarez" target="_blank">
        <fa-icon matListItemIcon [icon]="['fab', 'github']"></fa-icon>
        <span class="link-text">GitHub</span>
        <span class="hover-text">{{ homeData.githubDetails }}</span>
      </a>
      <span matListItemMeta class="arrow-icon-container">
        <mat-icon class="default-icon">arrow_outward</mat-icon>
        <mat-icon class="hover-icon">arrow_forward</mat-icon>
      </span>
    </mat-list-item>

    <mat-list-item>
      <a matListItemLine href="https://dev.to/gustavobarez" target="_blank">
        <fa-icon matListItemIcon [icon]="['fas', 'newspaper']"></fa-icon>
        <span class="link-text">{{ homeData.viewArticles }}</span>
        <span class="hover-text">{{ homeData.articlesDetails }}</span>
      </a>
      <span matListItemMeta class="arrow-icon-container">
        <mat-icon class="default-icon">arrow_outward</mat-icon>
        <mat-icon class="hover-icon">arrow_forward</mat-icon>
      </span>
    </mat-list-item>
  </mat-list>

  <footer class="contact-footer">
    <div class="contact-info">
      <a class="email" href="mailto:gustavobarez@gmail.com">
        <span>gustavobarez&#64;gmail.com</span>
        <mat-icon>send</mat-icon>
      </a>
      <mat-chip-set>
        <mat-chip class="online-chip" disabled>Online</mat-chip>
      </mat-chip-set>
    </div>
    <a
      mat-stroked-button
      class="cv-button"
      href="/caminho/para/cv.pdf"
      target="_blank"
    >
      {{ homeData.cvButton }}
      <mat-icon>download</mat-icon>
    </a>
  </footer>
</div>
