.project-container {
  width: 100%;
  max-width: 650px;
  box-sizing: border-box;
  padding-top: 1rem;
  @media (min-width: 768px) {
    padding: 2rem;
  }

}

h1 {
  margin-bottom: 24px;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.loading {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
}