<div class="project-card">
  <div class="card-header">
    <span class="project-title">{{ project.title }}</span>
    <div class="project-tags">
      @for (tech of project.technologies; track tech) {
      <span class="tech-tag">{{ tech }}</span>
      }
    </div>
  </div>

  <div class="card-content">
    <p>{{ project.description }}</p>
  </div>

  @if (project.image) {
  <div class="card-image-container">
    <img [src]="project.image" [alt]="project.title + ' Image'" />
  </div>
  }

  <div class="card-actions">
    @if (project.websiteLink) {
    <a class="footer-button" [href]="project.websiteLink" target="_blank">
      <fa-icon [icon]="['fas', 'earth-americas']"></fa-icon>
      <span>Visit website</span>
    </a>
    <div class="vertical-separator"></div>
    }

    <a class="footer-button" [href]="project.codeLink" target="_blank">
      <fa-icon [icon]="['fas', 'code-branch']"></fa-icon>
      <span>View code</span>
    </a>
  </div>
</div>